.App {
  text-align: center;
}

.container-carousel {
  background-color: steelblue;
  padding: 2%;
}

.home-page-carousel {
  width: 480px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.remove-link-decorations {
  text-decoration: none;
}
